.navbar {
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.header__navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header__navbar-item {
  display: inline-block;
  line-height: 100%;
  font-weight: 600;
  font-size: 16px;
  margin-right: 24px;
}

.header__navbar-item .nav-link {
  color: #2d4964;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

.header__navbar-item:hover {
  cursor: pointer;
  color: #0059a7;
}

.header__navbar-item.active {
  color: #0059a7;
}

.login-btn {
  color: #0059a7;
}

.header__logo .healme-logo {
  width: 15vw
}

@media only screen and (max-width: 480px) {
  .header__logo .healme-logo {
    width: 30vw !important;
  }
}
