.banner {
  max-height: 400px;
  background: url("../../../img/hero-bg.webp") top center;
  background-size: cover;
  padding-left: 16px;
  border-radius: 8px;
}

.banner .banner__info {
  position: relative;
}

.banner h1 {
  margin: 0;
  /* font-size: 48px; */
  font-weight: 700;
  line-height: 64px;
  color: #2c4964;

  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

.banner h2 {
  color: #2c4964;
  line-height: 32px;
  margin: 10px 0 24px 0;
  font-weight: 300;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.banner__info {
  /* background-color: white; */
  padding: 24px;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(8px) brightness(1.1);
  backdrop-filter: blur(8px) brightness(1.1);
  margin: 8px;
}

.banner__button {
  width: 100%;
}

/* @media screen and (max-width: 820px) {
  .banner {
    padding-left: 0px;
    margin-left: 0px;
  }
} */

/* Small Tablet  */
@media only screen and (min-width: 576px) {
  body {
    background-color: brown;
  }
  .banner h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 64px;
    color: #2c4964;
  }

  .chatbot-container {
    width: 90px !important;
  }
}
/* Tablet  */
@media only screen and (min-width: 768px) {
  body {
    background-color: purple;
  }
  .banner h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 64px;
    color: #2c4964;
  }

  .chatbot-container {
    width: 90px !important;
  }
}

@media only screen and (min-width: 992px) {
  body {
    background-color: aliceblue;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: red;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    background-color: yellow;
  }
}
