@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700;800;900;1000&&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

.text-justify {
  text-align: justify;
}

.user-container {
  height: 100%;
}

.ant-card-body {
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Responsive  */
/* @media only screen and (min-width: 320px) {
  .banner {
    height: 400px !important;
    width: 100%;
  }

  .banner h1 {
    margin: 0;
    font-size: 20px !important;
    line-height: 24px !important;
  }

  .banner h2 {
    font-size: 14px !important;
    word-spacing: 1px !important;
    line-height: 24px !important;
  }

  .chatbot-container {
    width: 90px !important;
  }
} */
