@media only screen and (min-width: 576) {
  body {
    background-color: brown;
  }
}
@media only screen and (min-width: 768px) {
  body {
    background-color: purple;
  }
}
@media only screen and (min-width: 992px) {
  body {
    background-color: aliceblue;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: red;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    background-color: yellow;
  }
}
